.pagination {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.mo-paging {
  display: inline-block;
  padding: 0;
  margin: 1rem 0;
  font-size: 0;
  list-style: none;
  user-select: none;
}

.mo-paging > .paging-item {
  display: inline;
  font-size: 14px;
  position: relative;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-left: -1px;
  cursor: pointer;
  color: #0275d8;
}

.mo-paging > .paging-item:first-child {
  margin-left: 0;
}

.mo-paging > .paging-item:hover {
  background-color: #f0f0f0;
  color: #0275d8;
}

.mo-paging > .paging-item.paging-item--disabled, .mo-paging > .paging-item.paging-item--more {
  background-color: #fff;
  color: #505050;
}

.mo-paging > .paging-item.paging-item--disabled {
  cursor: not-allowed;
  opacity: 0.75;
}

.mo-paging > .paging-item.paging-item--more, .mo-paging > .paging-item.paging-item--current {
  cursor: default;
}

.mo-paging > .paging-item.paging-item--current {
  background-color: #0275d8;
  color: #fff;
  position: relative;
  z-index: 1;
  border-color: #0275d8;
}
